@import './functions';
@import './variables';


   @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Light.otf);
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-BookItalic.otf);
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Medium.otf);
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Bold.otf);
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-BoldItalic.otf);
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Black.otf);
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-BlackItalic.otf);
    font-weight: 900;
    font-style: italic;
  }

  body{
    font-family:"Circular", sans-serif;
    
  }
  section{
  background: linear-gradient(to top,rgb(19,19,19),rgb(30,30,30));
  }
  .here{
  background: linear-gradient(30deg,rgb(0,0,0),rgba(0, 0, 0, 0.612),rgba(15, 15, 15, 0.408),rgb(30, 30, 30));
  }
  #album p{
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.6;
  }
  #album p:nth-of-type(2){
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 0.6;
  }
  #aside1{
    width:25%;
  
  }
  #section{
    width:75%;
 
  }
  #aside2{
   width:0%
  }
  $new-success: rgb(91,206,99);
  $new-theme-colors:(
    'success': $new-success
  );
  $theme-colors : map-merge($theme-colors,$new-theme-colors);

  .music{
    font-size: 0.7em;
  }
  .time{
    font-size: 0.7em;
  }
  #section.new-width{
    width:55%;
  }
  #aside2.new-width2{
    width:20%;
  }
  #box{
    width:31%;
    border-radius: 5px;
    background-color: rgb(40,40,40) ;
   
  }
  #images{
    width:25%;
  }
  .names{
    font-size:0.8em
  }
 

  @import './bootstrap.scss'